/* ===================== BASE ===================== */
body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  background: var(--grey);
  color: var(--text-color);
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
  border-color: inherit !important;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* ===================== UTILITIES ===================== */
.bg {
  &-teal {
    background-color: var(--teal-10);
  }
  &-teal-1 {
    background-color: var(--teal-1);
  }
  &-teal-10 {
    background-color: var(--teal-10);
  }
  &-teal-30 {
    background-color: var(--teal-30);
  }
  &-teal-40 {
    background-color: var(--teal-40);
  }
  &-teal-50 {
    background-color: var(--teal-50);
  }
  &-gray,
  &-gray-100 {
    background-color: var(--grey);
  }
  &-purple {
    background-color: #4744b2;
  }
  &-green-10 {
    background-color: var(--green-10);
  }
  &-odds-blue {
    background-color: #8dd2f0;
  }
  &-odds-pink {
    background-color: #feafba;
  }
  &-panel {
    background-color: #8dd2f0;
  }
  &-dark-teal {
    background-color: #083d40;
  }
  &-min {
    background-color: #f3ad3b;
  }
  &-max {
    background-color: #4b4bb6;
  }
  &-allin {
    background-color: var(--green-10);
  }
  &-pinColor {
    background-color: rgba(0, 0, 0, 0.55);
  }
  &-gradient-teal {
    background: linear-gradient(
      180deg,
      #135c63 0%,
      #107a85 48.4%,
      #135c63 100%
    );
  }
}

.text {
  &-teal {
    color: var(--teal-10);
  }
  &-teal-10 {
    color: var(--teal-10);
  }
  &-grey-30 {
    color: var(--grey-30);
  }
  &-grey-20 {
    color: var(--grey-20);
  }
  &-color {
    color: var(--text-color);
  }
}

.fs {
  &-10 {
    font-size: 10px;
  }
  &-11 {
    font-size: 11px;
  }
  &-12 {
    font-size: 12px;
  }
  &-14 {
    font-size: 14px;
  }
}

.p {
  &-10 {
    padding: 10px;
  }
  &y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &x-6 {
    padding-left: 6px;
    padding-right: 6px;
  }
  &x-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  &x-14 {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.marginTop-1 {
  margin-top: 1px;
}

.w {
  &-20 {
    width: 20px;
  }
  &-60 {
    width: 60px;
  }
  &-269 {
    width: 269px !important;
  }
}
.circle-40 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.border {
  &-blue {
    border: 0.6px solid #2290c7;
  }
  &-teal {
    border: 0.6px solid var(--teal-10) !important;
  }
  &-color-grey {
    border-color: #f5f5f5 !important;
  }
  &-color-grey-10 {
    border-color: #99accc !important;
  }
  &-tl-br {
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.btn,
a {
  &:hover,
  &:focus,
  &:active {
    background-color: inherit !important;
    color: inherit !important;
    box-shadow: inherit !important;
    border-color: transparent !important;
  }
}

.btn-refresh {
  border: 1.21px solid #eeeeef;
}

.col-gap-2 {
  column-gap: 2px;
}
