:root {
  --teal-10: #12bcca;
  --teal-30: #054146;
  --teal-20: #2f6f76;
  --teal-40: #043337;
  --teal-50: #135c63;
  --white: #ffffff;
  --green: #97fda1;
  --text-color: #333333;
  --grey: #f5f5f5;
  --grey-20: #677e9e;
  --green-10: #076a34;
  --grey-30: #666666;
  --teal-1: #ebf8f9;
}

// Typography
$font-family-sans-serif: "Rubik", sans-serif;
