// 1️⃣ Variable overrides
@import "variables";

// 2️⃣ Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// 3️⃣ Custom utilities & components
@import "utilities";

// ================= GLOBAL COMPONENT STYLES ================= //

.custom-navbar {
  background-color: var(--teal-30);
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  &-left {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
  }
  &-right {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
  }
}

// ================= HEADER ================= //
.hamburger-btn {
  background: transparent;
  border: none;
  padding: 0;
  width: 32px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  img {
    width: 1.5rem;
  }
}

.brand-image {
  img {
    width: 6.5625rem;
  }
}

// ================= BORDERS & DIVIDERS ================= //
.border-gradient-teal {
  .custom-col:not(:last-child) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(6, 65, 71, 0.8) 0%,
        rgba(18, 188, 202, 0.8) 48.4%,
        rgba(6, 65, 71, 0.8) 100%
      );
      width: 2px;
      height: 100%;
      top: 0;
      right: 0;
    }
  }
}

// ================= SPORTS CARD ================= //
.sport-card {
  background: linear-gradient(180deg, #135c63 0%, #107a85 48.4%, #135c63 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-right: 1px solid #135c63;
  position: relative;
  flex: 1 1 auto;

  &.active {
    color: #12bcca;

    .sport-card-inner::after {
      content: "";
      background: #12bcca;
      width: 100%;
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 0;
    }
  }

  h6 {
    margin: 0;
    font-size: 11px;
    font-weight: 500;
  }
}

.sport-card-inner {
  position: relative;
  width: 100%;
  text-align: center;
}

.sport-icon {
  width: 1.625rem;
  margin-bottom: 8px;
}
.tab-score {
  button {
    position: relative;
    height: 100%;

    &:hover {
      cursor: pointer;
      color: var(--teal-10);
      background: var(--grey);

      &::after {
        content: "";
        background: var(--teal-10);
        width: 100%;
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.tab-score-active {
  color: var(--teal-10);
  &::after {
    content: "";
    background: var(--teal-10);
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
  }
}
// ================= BADGES ================= //
.badge-wrap {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  border-bottom-left-radius: 2px;
  overflow: hidden;
  z-index: 1;
}

.badge {
  border-radius: 0;
  padding: 1px 4px;
  font-weight: 700;
  font-size: 11px;

  &-green {
    background-color: var(--green);
    color: #148312;
  }

  &-dark {
    background-color: #054146;
    color: var(--white);
  }
}
// ================= Match section ================= //
.matches-section {
  width: 100%;
}

/* Header */
.match-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}

.match-left {
  display: flex;
  gap: 8px;
  align-items: center;
}

.inplay-img {
  width: 83px;
}

.team-name {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

/* Favorite button */
.favorite-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  i {
    font-size: 16px;
  }
}

/* Odds Section */
.odds-list {
  display: flex;
  gap: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.odds-item {
  display: flex;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

/* Odds Boxes */
.odds-box {
  width: 100%;
  padding: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

/* Center Badge */
.odds-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fffdfd;
  border-radius: 50%;
  font-weight: 600;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

// ================= SCROLL ================= //
.sports-section {
  .row {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

// ================= TABS ================= //
.tab-item {
  gap: 0.5rem;
  align-items: center;
  display: flex;
  width: 50%;
  justify-content: center;
  background: var(--white);
  padding: 10px;
  &.tab-active {
    background-color: var(--teal-30);
    color: var(--white);
  }
}

// ================= UI ELEMENTS ================= //
.text-number {
  width: 16px;
  height: 16px;
  background: var(--grey-40);
  font-size: 11px;
  border-radius: 50%;

  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-tile {
  background-color: var(--teal-10);
  font-size: 12px;
  border-radius: 4px;
  padding: 4px 8px;
  color: var(--white);
}
.match-cards {
  .match-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.text-badge {
  width: 27px;
  height: 22px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cashout-btn {
  background: #fb9201;
  padding: 4px 6px;
}

.circle-gradient {
  background: linear-gradient(
    180deg,
    #135c63 0%,
    #116870 48.4%,
    #10727c 71.76%,
    #10747f 100%
  );
  width: 52px;
  height: 52px;
  top: -20px;
}

// ================= MENU ================= //
.custom-menu {
  .btn-custom-close {
    background: url(../assets/images/close-circle.png) no-repeat center;
    background-size: 24px;
    opacity: 1;
  }

  li {
    a {
      background: linear-gradient(
        180deg,
        #135c63 0%,
        #107a85 48.4%,
        #135c63 100%
      );
      border-radius: 4px;
      padding: 10px 14px;
      width: 100%;
      display: flex;
      font-size: 14px;
      gap: 12px;
      align-items: center;

      img {
        width: 24px;
      }
    }
  }
}

// ================= FORMS ================= //
.form-check-input {
  border: 1.21px solid #00000033;
}

.input-stake {
  input {
    &::placeholder {
      color: var(--grey-20);
    }
  }
}

// ================= LAYOUT HELPERS ================= //
.full-bleed-16 {
  width: calc(100% + 16px);
  margin-left: -8px;
  margin-right: -8px;
}

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

// ================= LISTING ================= //
.listing {
  li {
    flex: none;
  }

  button {
    &:hover {
      background: var(--teal-1) !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      color: var(--teal-10) !important;

      &::after {
        content: "";
        background: var(--teal-10);
        width: 100%;
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 0;
      }
    }
  }
}
.cricket-section-header {
  background-color: #ffffff;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;

  padding: 8px 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
  }
}
.game-section {
  &-main {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  &-pin {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;

    color: #ffffff;
    width: 20px;
    height: 20px;
  }
}
.top-bar {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  text-transform: capitalize;
  padding-left: 1rem;
}
.match-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .back-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;

    img {
      display: block;
    }
  }

  .action-buttons {
    display: flex;
    gap: 1rem;
  }

  .icon-btn {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;

    i {
      font-size: 1.25rem;
    }
  }
}
.acceptOdds {
  width: calc(100% + 16px);
  margin-left: -8px;
  margin-right: -8px;
  background-color: #8dd2f0;
  padding: 0.5rem;
  border-radius: 4px;

  &-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    margin: 8px 0;
  }
}

.card-main {
  background: var(--white);
  border-radius: 6px;
  padding: 8px 16px;
}
.event-card {
  background: var(--white);
  border-radius: 6px;
  overflow: hidden;
}
.session {
  section {
    padding: 10px;
  }
  &-list {
    border: 1px solid #f5f5f5;
  }
}
.event-head {
  background-color: var(--teal-30);

  color: var(--white);
  padding: 8px 14px;
}
.event-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.over-tab {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: auto;
  margin-bottom: 16px;
  background: var(--white);
  padding: 8px 16px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  li {
    button {
      width: 100%;
      padding: 8px 12px;
      font-weight: 600;
      font-size: 14px;
      position: relative;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }
}
.event-date {
  background: url(../assets/images/rectangle-box.png) no-repeat;
  background-size: 100% 100%;
  top: -12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
  font-size: 11px;
  padding: 4px 24px;
  &-main {
    overflow: unset;
    position: relative;
  }
}
